button {

  }
.btn {
  background: #26DE81FF;
  font-size: 30px;
  font-family: "Times New Roman";
  color: #FFFFFF;
  background: #26de81;
  font-size: 30px;
  color: #FFFFFF;
  padding: 24px 37px 19px 42px;
  border: none;
  margin: 10px;
  border-radius: 5px;
  transition: all 0.5s;

}

button:hover {
  background: darken(#26de81, 5%);
}



