button {
  background: #26DE81FF;
  font-size: 30px;
  color: #FFFFFF;
  background: #26de81;
  font-size: 30px;
  color: #FFFFFF;
  padding: 24px 37px 19px 42px;
  border: none;
  margin: 10px;
  border-radius: 5px;
  }



